# Virtual server 
virtual_server 10.245.4.12 636 {
    delay_loop 10
    protocol TCP
    lb_algo rr
    lb_kind NAT
    nat_mask 255.255.255.0
    persistence_timeout 7200

    real_server 10.245.201.79 80 {
        weight 1
        TCP_CHECK {
          connect_timeout 5
          connect_port 80
        }
    }
}

