# {{ ansible_managed | comment }}

global_defs {
	router_id LVS-{{ inventory_hostname }}

	smtp_server 127.0.0.1
	smtp_connect_timeout 30
	notification_email_from {{ keepalived_mail }}
	notification_email {
		{{ keepalived_admin }}
	}
}

# Check local {{ keepalived_process }} process each {{ keepalived_check_interval }} seconds
vrrp_script check_process {
        script "/usr/sbin/pidof {{ keepalived_process }}"
        interval {{ keepalived_check_interval }}
}

# VIP {{ keepalived_vip }}
vrrp_instance VIP {
{% if keepalived_master == inventory_hostname %}
	state MASTER
	priority {{ keepalived_master_priority }}
{% if keepalived_alert is defined and keepalived_alert is sameas true %}
	smtp_alert
{% endif %}
{% else %}
	state BACKUP
	priority {{ keepalived_backup_priority }}
{% endif %}
	virtual_router_id {{ keepalived_routerid }}
	interface {{ keepalived_interface }}
	advert_int 2
	authentication {
        	auth_type PASS
	        auth_pass {{ keepalived_passwd }}
	}
        track_script {
                check_process
        }
	virtual_ipaddress {
        	{{ keepalived_vip }}
	}
}

