# {{ ansible_managed }}

global_defs {
   notification_email {
     {{ keepalived_admin }}
   }
   notification_email_from {{ keepalived_mail }}
   smtp_server cst.users.interne
   smtp_connect_timeout 30
   router_id {{ inventory_hostname }}
}

# Check local {{ keepalived_process }} process each 5 seconds
vrrp_script check_process {
        script "pidof {{ keepalived_process }}"
        interval 5
}

# VIP {{ keepalived_vip }}
vrrp_instance VIP {
{% if keepalived_master == inventory_hostname %}
	state MASTER
	priority 100
{% else %}
	state BACKUP
	priority 1
{% endif %}
	virtual_router_id 50
	interface {{ keepalived_interface }}
	advert_int 2
	authentication {
        	auth_type PASS
	        auth_pass {{ keepalived_passwd }}
	}
        track_script {
                check_process
        }
	virtual_ipaddress {
        	{{ keepalived_vip }}
	}
}

